.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #2F4F4F;
    background-color: #63B6C2;
    font-family: colibri;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
