<div style="border: solid 0px;">
    <h2>Obra de xxxxxx</h2>
    <p><b>Inicio: 20/01/2016 as 10:00</b></p>
    <p><b>Término: 21/01/2016 as 21:00</b></p>
    <p><b>Observações:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, risus eget fringilla tincidunt, ligula quam rhoncus ex, at egestas orci felis ut leo.</p>
</div>

<hr>

<div style="border: solid 0px;">
    <h2>Obra de yyyyyy</h2>
    <p><b>Inicio: 22/01/2016 as 12:00</b></p>
    <p><b>Término: 25/01/2016 as 12:00</b></p>
    <p><b>Observações:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, risus eget fringilla tincidunt, ligula quam rhoncus ex, at egestas orci felis ut leo.</p>
</div>